<div *ngIf="mode === 1; else signupForm">
  <h1 mat-dialog-title>Log In</h1>
  <div mat-dialog-content style="width: 100%;">
    <form class="example-form">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Username </mat-label>
          <input
            matInput
            placeholder="username"
            name="username"
            [(ngModel)]="username"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width" style="width: 100%;">
          <mat-label>password</mat-label>
          <input
            matInput
            placeholder="password"
            name="password"
            [(ngModel)]="password"
            type="password"
          />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <div>
      <button mat-button class="login-btn" (click)="signin()">
        Login Now
      </button>
    </div>

    <div>
      <button mat-button class="signup-btn" type="button" (click)="mode = 0">
        Sign Up
      </button>
    </div>
  </div>
</div>

<ng-template #signupForm>
  <div>
    <h1 mat-dialog-title>Sign Up</h1>
    <span *ngIf="hasSignupError">Erreur Singup</span>
    <div mat-dialog-content>
      <form>
        <div>
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>FirstName </mat-label>
            <input
              matInput
              name="firstname"
              placeholder="firstname"
              [(ngModel)]="firstname"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>LastName </mat-label>
            <input
              matInput
              name="lastname"
              placeholder="Lastname"
              [(ngModel)]="lastname"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Username </mat-label>
            <input
              matInput
              name="username"
              placeholder="username"
              [(ngModel)]="username"
            />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>password</mat-label>
            <input
              matInput
              name="password"
              placeholder="password"
              [(ngModel)]="password"
              type="password"
            />
          </mat-form-field>
        </div>
      </form>
    </div>
    <div mat-dialog-actions>
      <div>
        <button mat-button class="login-btn" type="button" (click)="mode = 1">
          Login Now
        </button>
      </div>

      <div>
        <button mat-button class="signup-btn" (click)="signup()">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</ng-template>
