:host {
  display: block;

  .kitten-image {
    width: 100%;
  height: auto;
  }
}

.mat-card{
  box-shadow: 10px 10px 200px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}