<!-- <div class="kitten-image-container" (click)="vote()" *ngIf="!!kitten">
  <img class="kitten-image" [src]="kitten.url" alt="kitten image" />
</div> -->
<div class="kitten-image-container" (click)="vote()" *ngIf="!!kitten">
  <mat-card class="border">
    <img class="kitten-image" [src]="kitten.url" alt="kitten image" />
  </mat-card>
</div>
