  
<kt-view-switcher target="/votes"></kt-view-switcher>

  <hr class="style5">
  <div class="row">
    <div class="col-md-12  title">
      <h2 class="logo"><strong>
       <b> Who's Cutter ?</b>
      </strong>
      </h2>
    </div>
  </div>
  <div class="row">
    <kt-kitten-image class="col-md-5"
      [kitten]="(kittenPaire$ | async)?.first"
      (onVote)="onVote($event,'left')"
      [ngClass]="{'animate__heartBeat' : activateRight}"
    ></kt-kitten-image>
    <div class="col-md-2">
      <div class="devider pinky "> 
        <strong>
          <div class="logo"><b><span>O</span><span>R</span></b></div>
          
        </strong>
      </div>
    </div>
    <kt-kitten-image class="col-md-5"
      [kitten]="(kittenPaire$ | async)?.second"
      (onVote)="onVote($event,'right')"
      [ngClass]="{'animate__heartBeat' : activateLeft}"
    ></kt-kitten-image>
  </div>


