  .devider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: palevioletred;
    box-shadow: black;
  }

  .votes{
    background-color: #ffd5d5;
    width: 80%;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .style5 {
    background-color: #fff;
    border-top: 2px dashed #f3c4d4;
    
  }

  .title{
    color: palevioletred;
  }