:host {
  display: block;
  .view-switcher-container {
    button {
      padding: 14px;
      border: 100%;
      border-radius: 6px;
      background-color: #f7dede;
      border: 1px solid #9c9292;
    }
  }
}


 
  a {
    width: 250px;
    height: 50px;
    font-size: 30px;
    margin: auto;
    line-height: 50px;
    text-decoration: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    border: solid 1px rgb(248, 209, 209);
    text-align: center;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    z-index: 1;
    text-shadow: 0 0px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;

}

a:after,
a:before {
    display: block;
    background: rgb(235, 204, 214);
    width: 0;
    height: 50px;
    content: "";
    position: absolute;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    z-index: -1;
}

a:after {
    bottom: 0px;
    left: 0px;
    width: 0%;
}

a:before {
    top: 0px;
    right: 0px;
}

a:hover:after,
a:hover:before{
  width: 50%;
}

.aligne-votes{
  margin-left: 0%;
   }

.padding-top {
    padding-top: 60px;
}