
<div class="row">
  <div class="col-md-10  padding-top logo">
    <a class="aligne-votes" (click)="navigateTo()">Votes</a>
   </div>
   <div class="col-md-2 ">
     <button type="button" class="btn btn-outline-warning" (click)="logOut()">Log out</button>
   </div>
</div>




