<div>
  <div class="row">
    <div class="col-md-12 text-center" style="padding-top: 50px; padding-bottom: 50px;">
      <kt-view-switcher class="col-md-12" target="/facemash"></kt-view-switcher>
    </div>
  </div>
  <div class="row">
    <div class="card-columns">
      <kt-vote class="col-md-12" *ngFor="let vote of currentPage?.content" [vote]="vote"></kt-vote>
    </div>
  </div>
</div>
