.vote-image {
  width: 50%;
  height: 230px;
}

.example-card {
  max-width: 300px;
}

.fa {
  color: red;
}

.vote-image-likes {
  text-align: center;
  .vote-likes {
    font-size: 20px;
    padding-left: 10px;
  }
}


