<mat-card class="card example-card">
  <img mat-card-image [src]="vote.kitten.url" alt="kitten image" />
  <mat-card-content>
    <div class="vote-image-likes">
      <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
      <strong>
        <span class="vote-likes">{{ vote.voteCount }}</span>
      </strong>
    </div>
  </mat-card-content>
</mat-card>
